<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Become a walkee</title>
</head>
<body>
    ${nav}

    <br><br>
    <h1>Dog sitting, dog walking, dog training. </h1>
    <hr>
    <h3>Our expert dog folks will expertly expert your dogs. <br>
        Ned walks so many dogs that he doesn't even need a leash. <br>
        His reputation preceeds him and the dogs just obey. Wes <br>
        trained dogs for the army. He's pretty much Cesar Millan meets <br>
        John Wick. <br>
    </h3>
    
    <form method="POST">
        <div>
            
        <label for="dogname">What's you dog's name?</label>
        <input type="text" name="dogname">
        </div>
        <div>
            
        <label for="dogtype">What kind of dog do you have?</label>
        <input type="text" name="dogtype">
        </div>
        <div>
            
        <label for="dogsize">How big is your dog?</label>
        <select name="dogsize">
            <option value="big">Big</option>
            <option value="medium">Medium</option>
            <option value="small">Small</option>
        </select>
        </div>
        <div>
            
        <input type="submit" value="Send it">
        </div>
    </form>

    <!-- This is where you sign up to get your dog walked -->
</body>
</html>